.heroContainer {
    background-image: url('../../assets/bg.jpg');
    background-size: cover;
    min-height: 180vH;
    padding:  3rem;
    position: relative;
}

.heroSliderContainer {
    border-radius: 20px;
    overflow: hidden;
    background-image: url('../../assets/DreamHouse.jpg');
    background-size: cover;
    height: 95vh;
    margin-top: -130px;
}

.heroHeader {
    position: relative;
    color: white;
    font-size: 35px;
    padding: 3rem;
    text-align: left;
}

.exploreBtn {
    color: white;
    background-color: #110c58;
    padding: 10px 20px;
    text-transform: capitalize;
    border-radius: 30px;
    border:1px solid #110c58;
}

.FeaturedPropertiesContainer {
    margin-top: 3rem;
    border-radius: 20px;
    overflow: hidden;
    height: 98vh;
    background-color: #6b8571e0;
}