.heroContainer {
    background-image: url('../../assets/bg.jpg');
    background-size: cover;
    min-height: 180vH;
    padding:  3rem;
    position: relative;
}

.heroSliderContainer {
    border-radius: 20px;
    overflow: hidden;
    background-image: url('../../assets/DreamHouse.jpg');
    background-size: cover;
    height: 95vh;
    margin-top: -128px;
    position: relative;
    filter: drop-shadow(2px 2px 4px #000);
    animation-name: slideInLeft;
    animation-duration: 1s;
}

@keyframes slideInLeft {
    from {left: -100px;}
    to {left: 10px;}
  }

.heroHeader {
    position: relative;
    color: white;
    font-size: 35px;
    line-height: 2em;
    padding: 3rem;
    text-align: left;
}

.exploreBtn {
    color: white;
    background-color: #110c58;
    padding: 10px 20px;
    text-transform: capitalize;
    border-radius: 30px;
    border:1px solid #110c58;
    width: max-content;
    filter: drop-shadow(4px 4px 4px #00000099);
    font-family: Flamenco;
    font-size: 20px;
}

.FeaturedPropertiesContainer {
    margin-top: 3rem;
    padding: 3rem;
    border-radius: 20px;
    overflow: hidden;
    height: 98vh;
    background-color: #6b8571b0;
    display:flex;
    justify-content: space-between;
    filter: drop-shadow(2px 2px 4px #000);
    align-items: center;
}

.textBlock {
    padding: 3rem;
    width: calc(30% - 9rem);
    height: calc( 100% - 6rem);
    border-radius: 20px;
    position: relative;
    text-align: left;
}

.imageBlock {
    width: calc(30% - 3rem);
    height: 100%;
    border-radius: 20px;
    background: url(../../assets/BlueHeights.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    filter: drop-shadow(4px 4px 4px #00000099)
}

.rowBlock {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imageRowBlock1 {
    height: 50%;
    background: url(../../assets/zng.jpg) no-repeat center;
    background-size: cover;
    margin-bottom: 3rem;
    width:100%;
    border-radius: 20px;
    filter: drop-shadow(4px 4px 4px #00000099)

}

.imageRowBlock2 {
    height: 50%;
    background-image: url(../../assets/home56.jpg);
    background-size: cover;
    margin-bottom: 3rem;
    width:100%;
    border-radius: 20px;
    filter: drop-shadow(4px 4px 4px #00000099)

}

.textHeader {
    color: white;
}