.contactContainer {
    background-image: url(../../assets/contactConstruction.jpeg);
    background-size: cover;
    min-height: 80vH;
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.leftContact {
    width: 40%;
    align-items: center;
}

.inputStyles {
    padding: 10px;
    width: 50%;
    border: 2px solid black;
    font-size: 18px;
    border: 2px solid black;
}

.sendBtn {
    padding : 10px;
    color: white;
    font-size: 20px;
    background-color: black;
    border: none;
}