.background {
    background-image: url(../assets/groupBgImage.gif);
    height: 100vh;
    background-size: cover;
}

.bgOverlay {
    background-color: #000000bb;
    height: 100vh;
}

.socialMenuItem {
    color: white;
}

.card {
    width: 100%;    
    color: white;
    transition: 300ms;
}

.card:hover {
    transform: scale(1.1);
    border-radius: 10px;
    transition: 300ms;
}

.socialGroupButton {
    color: 'white';
}

h1 {
    color: white;
}